<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}/" />
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
{% if page.facebook.image %}
  <meta property="og:image" content="{{ page.facebook.image }}" />
{% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.image }}" />
{% endif %}